<div data-turbo=false>
    <%= form_for(@reminder) do |form| %>
        <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <p><%= form.label :do_before %></p>
            <p><%= form.date_field :do_before, class: "form-control" %></p>
        </div>
        <p><%= form.submit class: 'btn btn-primary' %></p>
    <% end %>
</div>
<p>
    <% if @reminder.errors.any? %>
        <% @reminder.errors.messages.each do |field, errors| %>
            <p>Field <%= field %> <%= errors.join %></p>
        <% end %>
    <% end %>
</p>
<p><%= link_to("Back", reminders_path) %></p>